body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

#noteApp {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
}

.noteBox {
  width: calc(25% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#addNoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#addNoteButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#editNoteScreen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
}

#noteText {
  width: 100%;
  height: 70vh;
  padding: 10px;
  margin-bottom: 20px;
}

#editNoteButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#saveNoteButton,
#deleteNoteButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}
